shamefully-hoist=true
# npm
# registry = https://registry.npmjs.org/
# 淘宝
# registry = http://registry.npm.taobao.org
registry = https://registry.npmjs.org
# 公司私服
# registry = http://172.16.2.65:4873
