@use 'mixins/mixins' as *;

@include b(dynamic-virtual-list) {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  @include e(placeholder) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
}
